:root{
    --childwidth:400px;
}
.parent{
    display:flex;
    flex-direction: column;
    gap:20px;
    align-content: space-between;
    flex-wrap: wrap;

}

.child{
    width:600px;
    height:300px;
    border:10px solid  rgb(138, 17, 17);
    text-align: center;
    opacity:0.1;
    transition:5ms;
}

.card-show{
    opacity:1;
}